body{
    background-color: rgba(246, 247, 242, 0.63);
    font-family: 'Comforter', cursive;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: normal;
}
h1, h2{
    color:green;
}
.lu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.li {
    float: left;
}
.a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.black-border {
    border: 5px solid black;
    width: 300px;
    height: 170px;
    padding: 20px;
    margin: 20px;
}
.main {
    border: 1px dotted grey;
    width: 700px;
    height: 500px;
    padding-left: 44px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header {
    border: 1px dotted grey;
    width: 700px;
    height: 350px;
    padding-left: 50px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

    

